* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 0px;
  background-color: rgb(0, 0, 0);
  color: rgb(215, 244, 46);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  gap: 20px;
}
.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 70vw;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 20px;
}
.aboutme img {
  width: 200px;
  border-radius: 50%;
}
.aboutme #img-a {
  margin-bottom: 60px;
  width: 200px;
  height: 200px;
}
.aboutme p {
  font-size: 22px;
  font-weight: 500;
  width: 80vw;
}

.qualifications {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.qualifications table {
  width: 80vw;
  text-align: center;
  font-size: 22px;
  border: 1px solid black;
  border-collapse: collapse;
}
.qualifications > table > tr > td {
  border: 1px solid black;
  border-collapse: collapse;
}
#skills {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills > table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills > table > tr > td {
  font-size: 22px;
  padding: 10px;
}

#contacts {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#icons {
  display: flex;
  width: 80vw;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
}
#projects{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects p{
  margin: ;
  width: 80vw;
  font-size: 20px;
}